/* Contenedor principal */
.contenedorContrato {
    margin-top: 3%;
    margin-bottom: 3%;
    margin: 20px;
    font-family: Arial, sans-serif;
}

/* Titulo */
.tituloContrato {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Contenedor del input y el botón */
.inputContainer {
    margin-bottom: 3%;
    justify-self: center;
    align-self: center;
}

/* Estilos del input */
.inputContrato {
    padding: 8px;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
    transition: border-color 0.3s;
    background-color: #f1f1f1;
}

.inputContrato:focus {
    border-color: #852020;
    outline: none;
    box-shadow: 0 0 5px rgba(177, 16, 16, 0.5);
}

/* Estilo del botón */
.botonBuscar {
    padding: 10px 14px;
    margin-left: 10px;
    background-color: #b11a1a;
    font-size: 14px;
    color: #FFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.botonBuscar:hover {
    background-color: #961a1a;
}

/* Mensaje de error */
.errorMessage {
    color: red;
    margin-top: 10px;
}

/* Tabla */
.tableContrato {
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #ddd;
    justify-self: center;
    align-self: center;
    box-shadow: 0 0 10px #bbbaba;
}

/* Encabezados de la tabla */
.tableContrato th {
    background-color: #64706c;
    text-align: left;
    color: #ffffff;
    padding: 10px;
    border: 1px solid #64706c;
    
}

/* Celdas de la tabla */
.tableContrato td {
    padding: 10px;
    border: 1px solid #ddd;
}

/* Celda de la tabla con formato especial */
.tableContrato td:nth-child(2) {
    font-weight: normal;
}